@model  PartyHive.Models.Party
@{
    ViewData["Title"] = "Edit";
}
<head>



    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/css/responsive/responsive.css" rel="stylesheet">

</head>


<body>

    <div class="row">
        
        <div class="dorne-add-listings-btn" style="padding-top: 98px;">
            <a href="#" class="btn dorne-btn">Add a New Party</a>
        </div>
        <div class="contact-form contact-form-widget mt-50">
            <h1><b>Edit a Party</b></h1>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Price" class="control-label"></label>
                        <textarea asp-for="Price" class="form-control"></textarea>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="MaxEnrollment" class="control-label"></label>
                        <input asp-for="MaxEnrollment" class="form-control" />
                        <span asp-validation-for="MaxEnrollment" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="IsActivated" class="control-label"></label>
                        <input type="checkbox" asp-for="IsActivated" class="form-control" />
                        <span asp-validation-for="IsActivated" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label class="control-label"><i>Hosted by @Model.Host.FirstName @Model.Host.LastName</i></label>

                        <span asp-validation-for="IsActivated" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />

                    <div class="col-12">
                        <button type="submit" class="btn dorne-btn">Edit this party</button>
                    </div>
                </div>
            </form>
        </div>
    </div>









<!-- ***** Breadcumb Area Start ***** -->

<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Single Listing Area Start ***** -->

<!-- jQuery-2.2.4 js -->
<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/js/others/plugins.js"></script>
<!-- Google Maps js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk"></script>
<script src="~/js/google-map/location-map-active.js"></script>
<!-- Active JS -->
<script src="~/js/active.js"></script>

</body>
<!-- ***** Single Listing Area End ***** -->
